@import url('../src/vendor/normalize.css');
@import url('../src/vendor/fonts/fonts.css');


:root {
    margin: 0 auto;
    max-width: 1200px;

    --primary-bg: linear-gradient(135deg, #e3f2fd 0%, #f3e5f5 100%);
    --secondary-bg: #f8f9fa;
    --text-color: #424242;
    --accent-color: #9c27b0;
    --border-color: #e0e0e0;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}